/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

body {
    margin: 0em;
}

nav {
    height: 115px;
    width: 98vw;
    top: 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    height: 75px;
}

nav li {
    list-style: none;
    display: inline;
    letter-spacing: 3px;
    font-size: 1.5em;
}

nav a {
    text-decoration: none;
    color: black;
}

header {
    background-image: url(../images/landing.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 1200px;
    left: 0;
    top: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    }

header div {
    color:whitesmoke;
    text-align: center;
    font-size: 3em;
}

#spotify {
    background-color: whitesmoke;
    width: 100vw;
    height: 600px; 
}

#spotify h1{
    align-items: center;
    display: flex;
    justify-content: center;
}

div {
    display: inline-block;
}

div img {
    height: 200px;
}


#final {
    width: 100vw;
    height: 600px;
    background-color: #00B172;
    background-image: url(../images/spotify-icon-white.png);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#app-image {
    height: 500px;
}